@defaultBackgroundColor: #f7f7f7;
@defaultContainerBackground: #fff;

@defaultFontColor: #333;
@defaultBoldFontColor: #262c35;

@lightFontColor: #555;

@mainThemeFontColor: #083b73;
@mainThemeComplementaryColor: #e08600;

@defaultInputBackground: #ffffff;
@defaultInputBorderColor: #afb9bf;

@formInputBackgroundColor: #e3e3e3;
@formInputBorderColor: #d6d6d6;

@validationErrorColor: #99261b;
@validationErrorInputBackgroundColor: #ffdedc;
@validationErrorBackgroundColor: #99261b;

