@defaultBackgroundColor: #fff;
@defaultFontColor: #000;
@defaultBoldFontColor: #262c35;

@lightFontColor: #444;

@mainThemeFontColor: #254f87;

@defaultInputBackground: #ffffff;
@defaultInputBorderColor: #afb9bf;

@formInputBackgroundColor: #e3e3e3;
@formInputBorderColor: #d6d6d6;

@validationErrorColor: #99261b;
@validationErrorInputBackgroundColor: #ffdedc;
@validationErrorBackgroundColor: #99261b;

