@defaultFontSize: 15px;
@smallFontSize: 13px;

body, input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: @defaultFontSize;
}

textarea {
    margin-bottom: 2px;
}


.boldFont {
    font-weight: bold;
    color: @defaultBoldFontColor;
}

input[type=text],input[type=password],textarea {
    background-color: @defaultInputBackground;
    border: 1px solid @defaultInputBorderColor;
    padding: 2px 3px;
}