@defaultFontSize: 15px;
@smallFontSize: 13px;

body, input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: @defaultFontSize;
}

textarea {
    margin-bottom: 2px;
}


.boldFont {
    font-weight: bold;
    color: @defaultBoldFontColor;
}

input[type=text],input[type=password],textarea {
    background-color: @defaultInputBackground;
    border: 1px solid @defaultInputBorderColor;
    padding: 2px 3px;
}

input[type=submit], input[type=button], input[type=reset], button {
    background-color: @mainThemeFontColor;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    color: white;
    padding: 2px 30px 3px;

    &:active {
      padding: 2px 29px 3px 31px;
    }
}      

a {
    color: @mainThemeFontColor;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.hiddenByDefault {
    display: none;
}

.clearFloats {
    clear: both;
}