body {
    background-color: @defaultBackgroundColor;
    background-image: url("../../graph/layout/main-header-background.png");
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}



.pageBody {
    margin: auto;
    width: 992px;
    position: relative;

    .mainHeaderBackground {
        background-image: url("../../graph/layout/main-header.jpg");
        height: 157px;
        left: -218px;
        position: absolute;
        top: 0;
        width: 1440px;
    }

    .mainHeader {
        width: 992px;
        height: 157px;
        position: relative;

        a.portalLogo {
            background-image: url("../../graph/layout/portal-logo.png");
            position: absolute;
            height: 50px;
            width: 166px;
            left: 13px;
            top: 6px;
        }

        .userInfo {
            position: absolute;
            right: 50px;
            top: 0;
            display: none;
        }

    }

    .pageContent {

        border-left: 1px solid #C3C3C3;
        border-right: 1px solid #fff;

        .pageContentBorder {
            border-left: 1px solid #fff;
            border-right: 1px solid #C3C3C3;
            overflow: hidden;
        }
    }

}



.standardContainer {
     background-color: @defaultContainerBackground;
     border: 1px solid #c3c3c3;
     margin-top: 60px;
     position: relative;
     padding: 10px 5px;


     .title {
        position: absolute;
        height: 27px;
        top: -27px;
        left: 5px;
        color: @mainThemeFontColor;
        font-size: 14px;
        letter-spacing: 2px;
        .titleIcon {
            display: inline-block;
            width: 17px;
            height: 17px;
            background-color: @mainThemeComplementaryColor;
            left: -6px;
            position: relative;
            top: 4px;
        }
     }


     .buttons {
          text-align: right;

          .buttonHolder {
              display: inline-block;
              margin: 13px 11px 2px 0;
          }

      }

      a.defaultButton {
          color: @mainThemeFontColor;
          background-color: #f1f1f1;
          border: 1px solid #C3C3C3;
          display: table-cell;
          font-size: 12px;
          height: 55px;
          width: 72px;
          font-weight: bold;
          line-height: 21px;
          padding: 5px 7px 6px;
          text-align: right;
          text-decoration: none;
          vertical-align: bottom;
          line-height: 16px;

          &:hover {
              background-color: #f1f1f1;
              opacity: 0.8;
          }

          &:active {
              background-color: #f1f1f1;
          }

      }

}






/*.pageHeader {
    height: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #CCC;
    position: relative;

    .mainLogo {
        text-decoration: none;
        color: #2E6BAC;
        text-shadow: #AAA 2px 2px 2px;
        position: absolute;
        left: 5px;
    }

    .userInfo {
        position: absolute;
        right: 5px;

        .userName {
            margin-left: 40px;
        }

        a {
            margin-left: 40px;
        }





        .menuLinkContainer {
            display: inline-block;
            height: 21px;
            position: relative;
            text-align: right;

            .link {

            }

            .popup {
                white-space: nowrap;
                width:0px;

                display: none;
                position: absolute;
                top: -4px;
                right: -8px;


                .title {
                    background-color: @defaultBackgroundColor;
                    display: inline-block;
                    cursor: default;
                    text-align: right;
                    position: relative;
                    top:-1px;
                    padding: 4px 7px 7px 32px;
                    border: 1px solid #CCCCCC;
                    border-radius: 5px 5px 0px 0px;
                    border-bottom: 0px;
                    z-index: 1;
                    float:right;
                }

                .links {
                    background-color: white;
                    border: 1px solid #CCCCCC;
                    border-radius: 5px 0px 5px 5px;
                    padding: 4px;
                    position: relative;
                    top: -2px;
                    float:right;

                    a {
                        display: block;
                        margin: 5px 3px 4px 20px;
                        text-align: right;
                    }
                }


            }
        }

    }

}




.standardContainer {
     border-radius: 3px 10px 10px 10px;
     background: none repeat scroll 0 0 #FAFAFA;
     padding: 10px;
     margin: 0 0 30px;
     border: 1px solid #c8d7e3;
     position: relative;

     .standardContainerTitle {
        color: #254F87;
        font-size: 17px;
        font-weight: bold;
        opacity: 0.77;
        text-transform: uppercase;
        margin-bottom: 10px;
     }

     .buttons {

         text-align: right;

         .buttonHolder {
             display: inline-block;
             margin: 13px 11px 2px 0;
         }

     }

     a.defaultButton {
         background-color: #F9FDFF;
         border: 1px solid #ddd;
         display: table-cell;
         font-size: @defaultFontSize;
         font-weight: bold;
         height: 67px;
         line-height: 21px;
         padding: 5px 10px 6px;
         text-align: right;
         text-decoration: none;
         vertical-align: bottom;
         width: 77px;

         &:hover {
             background-color: #fbfaf3;
         }

         &:active {
             background-color: #F5F5F5;
         }

     }
}

.pageBody {


    .mainPageModule {

        .standardContainer;

        padding: 30px 0 0 0;
        position: relative;

        .title, .titleShadow {
            font-size: 17px;
            font-weight: bold;
            position: absolute;
            text-transform: uppercase;
            left: 1px;
            top: -1px;
            cursor: default;
        }

        .title {
            color: @mainThemeFontColor;
            opacity: 0.77;
        }

        .titleShadow {
            color: transparent;
            text-shadow: 1px 1px 1px white;
            opacity: 0;
        }

        .content {
            margin: 3px 8px;
        }

        .buttonHolder:last-child {
            margin-right: 3px;
        }

    }

    .mainPageModule.topContainer {
        margin-bottom: 20px;
        position: relative;
        height: 25px;


        .portalLogo {
            position: absolute;
            top: 0px;
            left: 6px;
            color: @mainThemeFontColor;
            opacity: 0.77;

            font-size: 32px;
            font-weight: bold;
            font-family: Courier New;
        }
        .userProfile{

            position: absolute;
            top: 5px;
            right: 156px;
            .userName {
                color: @mainThemeFontColor;
                font-size: 18px;
                font-weight: bold;
            }
            .professionalTitle {

            }
        }
        .accountOptions {
            position: absolute;
            top: 15px;
            right: 15px;

            .logoutButton, .loginFormLink, .editProfileLink {
                height: 20px;
            }
        }

        .signInPopup {
            display: none;
            position: absolute;
            right: 6px;
            top: 6px;
            background-color: @defaultBackgroundColor;
            border: 1px solid #CCCCCC;


            .title {
                text-align: right;
                position: relative;
                top:-1px;
                left:-3px;
                border-radius: 5px 0px 0px 5px;
                padding: 4px;
                border-bottom: 0px;
            }

            .links {
                border-radius: 0px 5px 5px 5px;
                padding: 4px;
            }
        }
    }



}


        */