/*.pageHeader {
    height: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #CCC;
    position: relative;

    .mainLogo {
        text-decoration: none;
        color: #2E6BAC;
        text-shadow: #AAA 2px 2px 2px;
        position: absolute;
        left: 5px;
    }

    .userInfo {
        position: absolute;
        right: 5px;

        .userName {
            margin-left: 40px;
        }

        a {
            margin-left: 40px;
        }





        .menuLinkContainer {
            display: inline-block;
            height: 21px;
            position: relative;
            text-align: right;

            .link {

            }

            .popup {
                white-space: nowrap;
                width:0px;

                display: none;
                position: absolute;
                top: -4px;
                right: -8px;


                .title {
                    background-color: @defaultBackgroundColor;
                    display: inline-block;
                    cursor: default;
                    text-align: right;
                    position: relative;
                    top:-1px;
                    padding: 4px 7px 7px 32px;
                    border: 1px solid #CCCCCC;
                    border-radius: 5px 5px 0px 0px;
                    border-bottom: 0px;
                    z-index: 1;
                    float:right;
                }

                .links {
                    background-color: white;
                    border: 1px solid #CCCCCC;
                    border-radius: 5px 0px 5px 5px;
                    padding: 4px;
                    position: relative;
                    top: -2px;
                    float:right;

                    a {
                        display: block;
                        margin: 5px 3px 4px 20px;
                        text-align: right;
                    }
                }


            }
        }

    }

}       */

.pageContent {
    padding: 10px 20px;
    width: 1150px;


    .mainPageModule {

        .glassBox;

        padding: 30px 0 0 0;
        margin: 0 0 30px;
        background: none repeat scroll 0 0 #F3F7FB;
        border: 1px solid #9EB5C6;
        position: relative;

        .title, .titleShadow {
            font-size: 17px;
            font-weight: bold;
            position: absolute;
            text-transform: uppercase;
            left: 1px;
            top: -1px;
            cursor: default;
        }

        .title {
            color: @mainThemeFontColor;
            /*text-shadow: 1px 1px 0 #aaa;*/
            opacity: 0.77;
        }

        .titleShadow {
            color: transparent;
            text-shadow: 1px 1px 1px white;
            opacity: 0;
        }

        .content {
            margin: 3px 8px;
        }

        .buttons {

            text-align: right;

            .buttonHolder {
                display: inline-block;
                margin: 7px 11px 3px 0;
            }

        }

        a.defaultButton {
            background-color: #F9FDFF;
            border: 1px solid #ddd;
            display: table-cell;
            font-size: 14px;
            font-weight: bold;
            height: 79px;
            line-height: 21px;
            padding: 5px 10px 6px;
            text-align: right;
            text-decoration: none;
            vertical-align: bottom;
            width: 88px;

            &:hover {
                background-color: #fbfaf3;
            }

            &:active {
                background-color: #F5F5F5;
            }

        }

        .buttonHolder:first-child {
            margin-top: 20px;
        }

        .buttonHolder:last-child {
            margin-right: 3px;
        }

    }

    .mainPageModule.topContainer {
        margin: 10px 33px 0 15px;
        position: relative;
        height: 25px;


        .portalLogo {
            position: absolute;
            top: 0px;
            left: 6px;
            color: @mainThemeFontColor;
            opacity: 0.77;

            font-size: 32px;
            font-weight: bold;
            font-family: Courier New;
        }
        .userProfile{

            position: absolute;
            top: 5px;
            right: 386px;
            .userName {
                color: @mainThemeFontColor;
                font-size: 18px;
                font-weight: bold;
            }
            .professionalTitle {

            }
        }
        .accountOptions {
            position: absolute;
            top: 5px;
            right: 6px;

            .logoutButton, .loginFormLink, .editProfileLink {
                height: 20px;
            }
        }

        .signInPopup {
            display: none;
            position: absolute;
            right: 6px;
            top: 6px;
            background-color: @defaultBackgroundColor;
            border: 1px solid #CCCCCC;


            .title {
                text-align: right;
                position: relative;
                top:-1px;
                left:-3px;
                border-radius: 5px 0px 0px 5px;
                padding: 4px;
                border-bottom: 0px;
            }

            .links {
                border-radius: 0px 5px 5px 5px;
                padding: 4px;
            }
        }
    }



}


