.pageHeader {
    height: 50px;
    position: relative;

    .mainLogo {
        font-size: 36px;
        font-weight: bold;
        text-decoration: none;
        color: #2E6BAC;
        text-shadow: #AAA 2px 2px 2px;
        position: absolute;
        left: 5px;
        right: 5px;
        border-bottom: 1px solid #CCC;
    }

    .userInfo {
        position: absolute;
        top: 5px;
        right: 5px;

        .signoutLink {
            margin-left: 20px;
        }
    }


}

.pageContent {
    padding: 10px 20px;
}
