<?xml version="1.0" encoding="utf-8"?>
<html xmlns:wicket="http://wicket.apache.org">
    <wicket:panel>
        <form>
            <div>
                Zaloguj się
            </div>
            <div>
                Login:
            </div>
            <div>
                <input type="text"/>
            </div>
            <div>
                Hasło:
            </div>
            <div>
                <input type="password"/>
            </div>
            <div>
                <button type="submit">Zaloguj</button>
            </div>
        </form>
    </wicket:panel>
</html>
