<?xml version="1.0" encoding="utf-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <div wicket:id="contactStatus">contactStatus</div>


    <wicket:fragment wicket:id="yourself">
        <div>To ty</div>
    </wicket:fragment>

    <wicket:fragment wicket:id="userIsContact">
        <div>Ta osoba jest twoim kontaktem</div>
    </wicket:fragment>

    <wicket:fragment wicket:id="invitationReceived">
        <div>Ta osoba wysłała Ci zaproszenie do kontaktu</div>
        <form wicket:id="replyForInvitationForm">
            <input type="hidden" wicket:id="sessionToken"/>

            <div><span wicket:id="warningMessage"></span></div>
            <div>
                <input type="submit" wicket:id="submitButton" class="submitButton" value="zaakceptuj"/>
                <a href="#" wicket:id="cancelButton">zignoruj</a>
            </div>
        </form>
    </wicket:fragment>

    <wicket:fragment wicket:id="invitationSent">
        <div>Wysłano zaproszenie do kontaktu</div>
    </wicket:fragment>

    <wicket:fragment wicket:id="inviteContact">
        <a wicket:id="inviteLink">Zaproś do kontaktu</a>

        <form wicket:id="inviteForm">
            <input type="hidden" wicket:id="sessionToken"/>

            <div><span wicket:id="warningMessage"></span></div>

            <div>
                Podaj treść zaproszenia:
            </div>
            <div>
                <textarea wicket:id="inviteMessage">inviteMessage</textarea>
            </div>
            <div>
                <input type="submit" wicket:id="submitButton" class="submitButton" value="wyslij zaproszenie"/>
                <a href="#" wicket:id="cancelButton">anuluj</a>
            </div>
        </form>


    </wicket:fragment>


</wicket:panel>
</html>