<?xml version="1.0" encoding="utf-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>


    <div class="contactLevel">
        <span wicket:id="contactLevel"></span>
    </div>

    <div wicket:id="inviteFormHolder" class="inviteFormHolder">inviteFormHolder</div>

    <div class="buttons">

        <div wicket:id="contactButtonHolder" class="buttonHolder">contactButtonHolder</div>

        <wicket:enclosure child="newConversationLink">
            <div class="buttonHolder">
                <a wicket:id="newConversationLink" class="defaultButton">Wyślij wiadomość</a>
            </div>
        </wicket:enclosure>

    </div>

    <script type="text/javascript">
        function cancelInvitationClicked() {
            jQuery(".cancelInvitationConfirmation").css({display:"block"})
            jQuery(".invitationSentTitle").css({display:"none"})
            jQuery(".cancelInvitationLinkHolder").css({display:"none"})
        }

        function cancelInvitationCanceledClicked() {
            jQuery(".cancelInvitationConfirmation").css({display:"none"})
            jQuery(".invitationSentTitle").css({display:""})
            jQuery(".cancelInvitationLinkHolder").css({display:""})
        }
    </script>



    <wicket:fragment wicket:id="invitationReceivedForm">

        <form wicket:id="replyForInvitationForm">
            <input type="hidden" wicket:id="sessionToken"/>
            <div><span wicket:id="warningMessage"></span></div>

            <div class="invitationReceivedTitle">Ta osoba wysłała Ci zaproszenie do kontaktu</div>
            <div class="invitationButtons">
                <input type="submit" wicket:id="submitButton" class="submitButton" value="zaakceptuj"/>
                <a href="#" wicket:id="cancelButton">zignoruj</a>
            </div>
        </form>
    </wicket:fragment>


    <wicket:fragment wicket:id="invitationSent">
        <div class="invitationHolder">
            <div class="invitationSentTitle">Wysłano zaproszenie do kontaktu</div>
            <div class="cancelInvitationLinkHolder">
                <a href="#" onclick="cancelInvitationClicked();return false;">Cofnij zaproszenie</a>
            </div>
            <div class="cancelInvitationConfirmation hiddenByDefault">
                <div class="confirmationQuestion">
                    Czy na pewno chcesz cofnąć zaproszenie?
                </div>
                <button wicket:id="cancelInvitationLink">OK</button>
                <a href="#" onclick="cancelInvitationCanceledClicked();return false;">anuluj</a>
            </div>

        </div>

    </wicket:fragment>

    <wicket:fragment wicket:id="inviteContactButton">
        <a wicket:id="inviteLink" class="defaultButton">Zaproś do kontaktu</a>
    </wicket:fragment>

    <wicket:fragment wicket:id="inviteContactForm">
        <form wicket:id="inviteForm">
            <input type="hidden" wicket:id="sessionToken"/>

            <div><span wicket:id="warningMessage"></span></div>

            <div class="invitationTitle">
                Podaj treść zaproszenia:
            </div>
            <div class="invitationContent">
                <textarea wicket:id="inviteMessage">inviteMessage</textarea>
            </div>
            <div class="invitationButtons">
                <input type="submit" wicket:id="submitButton" class="submitButton" value="wyslij zaproszenie"/>
                <a href="#" wicket:id="cancelButton">anuluj</a>
            </div>
        </form>
    </wicket:fragment>


</wicket:panel>
</html>