<?xml version="1.0" encoding="utf-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <span wicket:id="title">Article list</span>

    <div wicket:id="repeating" style="padding-bottom: 20px">
        <div>
            <span wicket:id="content"></span>
        </div>
        <div>
            <span wicket:id="time"></span>
        </div>
        <div>
            <span wicket:id="author"></span>
        </div>
        <div>
            <a wicket:id="articleLink">Czytaj</a>
        </div>

    </div>
</wicket:panel>
</html>