.bookList {
    margin-top: 20px;

    .bookSummaryIterated {
        display: inline-block;

       .bookSummaryPreview {
           width: 220px;
           height: 240px;
           margin: 20px;
           padding: 20px;
           border: 1px solid #CCCCCC;
           border-radius: 12px;

           .bookTitle {
               font-weight: bold;
           }

           .bookAuthor {
               margin-top: 3px;
           }

           .icon {
               margin-top: 15px;
               width: 120px;
               height: 150px;
               background-color: #eee;
           }

       }

    }
}


.bookPreview {

    .icon {
        float: left;
        width: 100px;
        height: 120px;
        margin: 15px;
    }

    .bookTitle {
        font-size: 20px;
        font-weight: bold;
        color: @mainThemeFontColor;
    }

    .polishTitle {

    }

    .authors {
       font-size: 14px;
       font-weight: bold;
    }

    .isbn {

    }

    .description {
       margin-top: 20px;
    }

    .bookOwnership {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        margin: 0px 20px 0px 20px;
        float: right;
        width: 300px;
        height: 200px;

        .title {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .reviewForm {

        text-align: center;
        width: 630px;
        margin: 20px 0px;

        .reviewText {
            width: 600px;
            height: 270px;
        }

        .ratingContainer {
            margin: 20px 0;
        }

        .buttons {
            margin: 20px 0;
            .buttonContainer {
                width: 49%;
                display: inline-block;
                text-align: center;
            }
        }

    }


    .bookOwnership {

        .option {
            margin: 6px;
            label {
                margin-left: 4px;
                position: relative;
                top: -1px;
            }
        }

        .changed {
            color: #804232;
        }

        .saveButton {
            margin-top: 20px;
            text-align: center;
        }
    }


    .reviews {

        margin-top: 20px;

       .reviewsTitle {
           border-bottom: 2px solid #444444;
           color: @mainThemeFontColor;
           font-size: 16px;
           font-weight: bold;
       }

       .yourReviewHolder {

           margin-top: 20px;

           .yourReviewTitle {
               font-size: 14px;
               font-weight: bold;
               border-bottom: 1px solid #444444;
               margin-bottom: 10px;
               padding-bottom: 5px;
               width: 50%;
           }
       }

       .usersReviews {

       }

       .bookReview {
           margin-bottom: 40px;

            .yourReview {
                font-weight: bold;
            }

            .reviewAuthor {
               border-bottom: 1px solid #444444;
               margin-bottom: 10px;
               padding-bottom: 5px;
               width: 50%;
            }

            .bookRating {
                float: right;
            }
       }

    }
}



