.bookList {

    .bookSummaryIterated {
        display: inline-block;

       .bookSummaryPreview {

           .standardContainer;

           width: 249px;
           height: 240px;
           margin: 0 20px 20px 0;

           .bookTitle {
               font-weight: bold;
           }

           .bookAuthor {
               margin-top: 3px;
           }

           .icon {
               margin-top: 15px;
               width: 120px;
               height: 150px;
               background-color: #eee;
           }

       }

    }
}


.bookPreview {



   .bookDetailsPanel {

       .standardContainer;
       margin: 0px 20px 20px 0;
       padding: 10px;
       width: 831px;
       float: left;

        .icon {
            background-color: white;
            border: 1px solid gray;
            float: left;
            height: 120px;
            margin: 0 15px 0 0;
            width: 100px;
        }

        .bookTitle {
            font-size: 20px;
            font-weight: bold;
            color: @mainThemeFontColor;
        }

        .polishTitle {

        }

        .authors {
           font-size: 14px;
           font-weight: bold;
        }

        .isbn {

        }

        .description {
           margin-top: 20px;
        }

        .buttons {
            float: right;
            .buttonHolder {
                display: inline-block;
            }

        }
   }


  .bookOwnershipContainer {

      float: right;
      clear: right;

     .bookOwnership {
         .standardContainer;

         padding: 10px;
         margin: 0 0 20px 0;
         float: right;
         width: 254px;
         height: 164px;


         .title {
             font-weight: bold;
             margin-bottom: 10px;
         }
     }
  }


    .reviewForm {
        .standardContainer;

        padding: 10px;
        width: 831px;
        float: left;
        text-align: center;
        position: relative;

        .reviewText {
            width: 815px;
            height: 270px;
        }

        .ratingContainer {
            margin: 20px 0;
        }

        .buttons {
            margin: 20px 0;
            .buttonContainer {
                width: 49%;
                display: inline-block;
                text-align: center;
            }
        }

        .removeReviewConfirmForm {
            margin-left: 10%;
            position: absolute;
            top: 46%;
            width: 73%;

            .removeReviewButtons {
                .removeReviewButtonContainer {
                    display: inline-block;
                    width: 49%;
                    text-align: center;
                }
            }
        }

    }





    .reviews {
        .standardContainer;

        float:left;
        width: 831px;
        padding: 10px;

       .reviewsTitle {
           border-bottom: 2px solid #444444;
           color: @mainThemeFontColor;
           font-size: 16px;
           font-weight: bold;
       }

       .yourReviewHolder {

           margin-top: 20px;

           .yourReviewTitle {
               font-size: 14px;
               font-weight: bold;
               border-bottom: 1px solid #444444;
               margin-bottom: 10px;
               padding-bottom: 5px;
               width: 50%;
           }
       }

       .usersReviews {

       }

       .bookReview {
           margin-bottom: 40px;

            .yourReview {
                font-weight: bold;
            }

            .reviewAuthor {
               border-bottom: 1px solid #444444;
               margin-bottom: 10px;
               padding-bottom: 5px;
               width: 50%;
            }

            .bookRating {
                float: right;
            }
       }

    }


}



.yourBooksPage {

    .bookPreviewWithOwnership {
        .standardContainer;
        margin-right: 40px;
        width: 280px;



        .bookOwnership {
            margin-top: 10px;

            .saveButton {
                margin-top: 10px;
                text-align: center;
            }
        }
    }

}

 .simpleBookSummaryPreview {
    .icon {
        float:left;
        width: 29px;
        height: 29px;
        margin-right: 10px;
        margin-top: 2px;
        background-color: white;
        border: #333 1px solid;
        border-radius: 4px;
    }
    .bookTitle {
       font-weight: bold;
    }
}


.bookOwnership {

    .option {
        margin: 6px;
        label {
            margin-left: 4px;
            position: relative;
            top: -1px;
        }
    }

    .changed {
        color: #804232;
    }

    .saveButton {
        margin-top: 10px;
        text-align: center;
    }
}

.booksLinksPanel {

    float: right;
    clear: right;

    .booksLinksContainer {

        .standardContainer;

        width: 255px;
        margin-bottom: 20px;
        float: right;
        clear: right;

    }

}



.findBookFormPanel {
    margin-bottom: 10px;
    input.findBookButton {
        padding: 2px 6px;
    }
}

.addBookPage {
    .addBookFormContainer {
        .standardContainer;
        width: 580px;

        .addBookForm {
            .addBookActionButtons {
                text-align: center;
                padding: 20px 0 10px;
                input {
                    margin-right: 30%;
                }
            }
        }
    }
}

.suggestBookPage {
    .suggestBookFormHolder {
         .standardContainer;
          width: 580px;

         .suggestBookForm {

            .addBookActionButtons {
                text-align: center;
                padding: 20px 0 10px;
                input {
                    margin-right: 30%;
                }
            }

         }
    }
}

.bookSuggestionPage {

    .bookSuggestionPreview {
        .standardContainer;
        float: left;
        width: 835px;

        .creationTime {
            float: right;
        }
        .bookTitle {
           font-size: 18px;
           font-weight: bold;
           margin-bottom: 5px;
        }
        .polishTitle {
           margin-bottom: 5px;
        }
        .authors {
           font-weight: bold;
           margin-bottom: 15px;
        }
        .isbn {

        }
        .bookDescriptionTitle {
            margin-top: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .description {
            margin-bottom: 20px;
        }
        .userCommentTitle {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .userComment {

        }

    }

    .bookSuggestionForm {
        .standardContainer;
        float: left;
        width: 835px;

        textarea {
            height: 50px;
            margin-bottom: 20px;
            width: 573px;
        }
    }
}

.yourBooksSuggestionPage {
    .bookSuggestionHolder {
        .standardContainer;
        float: left;
        margin: 20px;
    }
}