

.homePageContent {

    .loginPanel, .registerPanel {
        .standardContainer;
    }

    .articles, .links, .technologies, .books, .profile, .contacts, .messages, .systemMessages {
        .standardContainer;
    }


    .userProfileContent {
        padding: 11px 16px;

        .userName {
            color: @mainThemeFontColor;
            font-size: 18px;
            font-weight: bold;
            padding: 5px 0;
        }
    }


    .articleList {
        .articleSummary {

            clear: both;
            margin-bottom: 16px;
            overflow: hidden;

            .articleIcon {
                float:left;
                width: 50px;
                height: 50px;
                border: 1px solid black;
                background-color: white;
                margin: 0px 10px;
            }

            .articleTitle {
               font-weight: bold;
               .articleAuthor {
                  font-weight: bold;
               }
            }

            .articleSummaryText {

            }

        }

        .articleSummary:last-child {
            margin-bottom: 0px;
        }
    }


    .technologiesModule {
        .technologiesInfo {
            margin-bottom: 15px;
            .technologiesInfoTitle {
                font-weight: bold;
                margin-bottom: 12px;
            }
            .bestTechnologiesEntry {
                 margin-top: 4px;
                .technologyName {
                    color: @mainThemeFontColor;
                    padding-left: 10px;
                    width: 117px;
                    display: inline-block;
                }
                .technologyRating {
                    display: inline-block;
                }
            }

        }

        .technologiesInfo:last-child {
            margin-bottom: 0px;
        }
    }



    .peopleModule {
        .userPreviewSummary {
            margin: 10px 0;
            width: 215px;
        }
        .userPreviewSummary:last-child {
            margin-bottom: 0px;
        }
    }

    .recentMessages {
        .conversation {
            margin-bottom: 10px;
            .conversationTitle {
                margin-bottom: 2px;
                .unreadMessagesCount {
                    font-weight: bold;
                }
            }
            .additionalInfo {
                font-size: small;
            }
        }
        .conversation:last-child {
            margin-bottom: 0px;
        }
    }

    .booksModule {
        .recentBooks {
            margin-top: 25px;
            margin-bottom: 10px;
            .recentTitle {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .rating {
                display: inline-block;
                margin-top: 4px;
            }

            .bookSummaryIterated {
                margin-bottom: 15px;
                .bookTitle {
                    font-weight: bold;
                }
            }
        }
    }

    .systemMessagesModule {
        text-align: center;
        a {
            font-size: 14px;
            display: block;
            font-weight: bold;
            margin: 20px 0;
            color: #C87600;
            font-weight: bold;
        }
    }
}