.userTechnologiesPage {

    .addTechnologyContainer {
        padding: 8px;
        background-color: #F6F6F6;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        width: 346px;

        .technologyNameLabel {
            margin-bottom: 6px;
            font-weight: bold;
        }

        .levelDescriptionLabel {
            font-weight: bold;
        }

        .levelDescription {
            height: 15px;
            text-align: center;
            margin: 10px 5px;
            color: @mainThemeFontColor;
        }

        .knowledgeLevel {
            display:none;
        }

        input.technologyName {
            padding: 3px 5px;
            font-size: 17px;
            margin-bottom: 10px;
            width: 334px;
        }

        .levels {
            width: 346px;
            div {

                display: inline-block;

                a {
                    cursor: pointer;
                    display: block;
                    text-decoration: none;
                    outline: 0;

                    span {
                        background-color: white;
                        border: 1px solid #555555;
                        border-radius: 17px 17px 17px 17px;
                        color: #444444;
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        height: 28px;
                        margin: 7px 9px;
                        padding-top: 2px;
                        text-align: center;
                        text-decoration: none;
                        width: 49px;
                    }
                }

                a.selectedLevel {
                    span {
                        background-color: @mainThemeFontColor;
                        color: white;
                    }
                }
                a.activeLevel {
                    span {
                        background-color: #5d7fac;
                        color: white;
                    }
                }
            }

        }


        .button {
            text-align: center;
            padding-top: 4px;
        }

    }

                     
    .technologyListContainer {

        
        .technologyList {
               
            .technologySummary {   
                
                display:inline-block;
                background-color: #F6F6F6;
                border: 1px solid #CCCCCC;
                border-radius: 3px;
                margin: 8px;
                padding: 5px 9px;
                
                .name {
                
                }
                
                .level {
                
                }
                
                .remove {
                    display: inline;
                }
            }
        
        }
    }
    
    

}