.userTechnologiesPage {
                     
    .technologyListContainer {
        .title {
        
        } 
        
        .technologyList {
               
            .technologySummary {   
                
                display:inline-block;
                background-color: #F6F6F6;
                border: 1px solid #CCCCCC;
                border-radius: 3px;
                margin: 8px;
                padding: 5px 9px;
                
                .name {
                
                }
                
                .level {
                
                }
                
                .remove {
                    display: inline;
                }
            }
        
        }
    }
    
    

}