<?xml version="1.0" encoding="utf-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <div class="booksLinksContainer">

        <div wicket:id="findBookFormPanel">findBookFormPanel</div>

        <div class="buttons">
            <div class="buttonHolder">
                <a wicket:id="booksSuggestionsListLink" class="defaultButton">Sugestie książek</a>
            </div>
            <div class="buttonHolder">
                <a wicket:id="booksPageLink" class="defaultButton">Wszystkie książki</a>
            </div>

            <div class="buttonHolder">
                <a wicket:id="suggestBookLink" class="defaultButton">Zasugeruj książkę</a>
            </div>
            <div class="buttonHolder">
                <a wicket:id="yourBooksSuggestionsLink" class="defaultButton">Twoje sugestie książek</a>
            </div>

            <div class="buttonHolder">
                <a wicket:id="addBookLink" class="defaultButton">Dodaj nową książkę</a>
            </div>

            <div class="buttonHolder">
                <a wicket:id="yourBooksLink" class="defaultButton">Twoje Książki</a>
            </div>
        </div>
    </div>

</wicket:panel>
</html>