<?xml version="1.0" encoding="utf-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <script type="text/javascript">

        function bookOwnerFlagChanged(invoker, elementName) {
            var jqThis = jQuery(invoker);
            jqThis.parents(".bookOwnership").find("."+elementName).toggleClass("changed");
            jqThis.parents(".bookOwnership").find(".saveButton").css({visibility:"visible"});
        }

        function labelForInputClicked(invoker) {
            var jqThis = jQuery(invoker);
            jqThis.parents(".option").find("input").click();
        }

    </script>

    <div class="bookOwnership">
        <div class="title"><div class="titleIcon"></div>twoja książka.</div>
        <form wicket:id="bookOwnershipForm">
            <input type="hidden" wicket:id="sessionToken"/>
            <div><span wicket:id="warningMessage"></span></div>
            <div class="option owner">
                <input wicket:id="owner" type="checkbox" onclick="bookOwnerFlagChanged(this, 'owner')" />
                <label onclick="labelForInputClicked(this)">Posiadam tę książkę</label>
            </div>
            <div class="option wantToBuy">
                <input wicket:id="wantToBuy" type="checkbox" onclick="bookOwnerFlagChanged(this, 'wantToBuy')" />
                <label onclick="labelForInputClicked(this)">Chciałbym ją kupić</label>
            </div>
            <div class="option willingToSell">
                <input wicket:id="willingToSell" type="checkbox" onclick="bookOwnerFlagChanged(this, 'willingToSell')" />
                <label onclick="labelForInputClicked(this)">Mógłbym ją sprzedać</label>
            </div>
            <div class="option wantToBorrow">
                <input wicket:id="wantToBorrow" type="checkbox" onclick="bookOwnerFlagChanged(this, 'wantToBorrow')" />
                <label onclick="labelForInputClicked(this)">Mógłbym ją komuś pożyczyć</label>
            </div>
            <div class="option willingToLend">
                <input wicket:id="willingToLend" type="checkbox" onclick="bookOwnerFlagChanged(this, 'willingToLend')" />
                <label onclick="labelForInputClicked(this)">Chciałbym ją od kogoś pożyczyć</label>
            </div>
            <div class="saveButton invisibleByDefault">
                <button wicket:id="submitButton">Potwierdź zmiany</button>
            </div>
        </form>
    </div>

</wicket:panel>
</html>