<?xml version="1.0" encoding="utf-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="findBookFormPanel">
        <form wicket:id="findBookForm">
            <input wicket:id="query" type="text" class="findBookQueryInput"/>
            <input type="submit" value="szukaj" class="findBookButton"/>
        </form>
    </div>

    <script type="text/javascript">

        createAutolabeledInput(".findBookQueryInput", "Znajdź książkę")

    </script>

</wicket:panel>
</html>