.userPreviewSummary {

   display: block;
   border: 1px solid #DDDDDD;
   border-radius: 5px 5px 5px 5px;
   margin: 10px;
   overflow: hidden;
   padding: 10px;
   width: 400px;
   text-decoration: none;

    .icon {
        border: 1px solid gray;
        float: left;
        height: 40px;
        margin-right: 10px;
        width: 40px;
    }

    .userName {
        margin-bottom: 4px;
        font-weight: bold;
    }

    .summary {
        color: @defaultFontColor;
    }
}

.userPreviewSummary:hover {
    background-color: #fbfaf3;
    text-decoration: none;
}