.userPreviewSummary {

   display: block;
   padding: 10px;
   margin: 10px;
   overflow: hidden;
   text-decoration: none;

    .icon {
        border: 1px solid #bbb;
        float: left;
        height: 46px;
        margin-right: 10px;
        width: 46px;
        background-image: url(../../../graph/default-avatar-icon.png)
    }

    .userName {
        margin-bottom: 4px;
        font-weight: bold;
    }

    .summary {
        color: @defaultFontColor;
    }
}

.userPreviewSummary:hover {
    background-color: #fbfaf3;
    text-decoration: none;
}